@charset "UTF-8";

/*Configurações do Main*/
main{
    max-width: 500px;
    grid-template-areas: "login";
    grid-template-columns: 1fr;
}
div#cadastro{
    grid-area: login;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
