@charset "UTF-8";
@media all{
    /*Configurações Gerais*/
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    /*Variáveis de Cores*/
    :root{
        --green: #58af9c;
        --white: #ffffff;
        --white_gray: #ecf0f1;
        --gray: #798c8a;
    }

    /*Configurações do HTML e Body*/
    html, body{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    body{
        position: absolute;
        background-color: var(--white_gray);
        font-family: 'Roboto', sans-serif;
    }

    /*Configurações do Main*/
    main{
        padding: 0px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-areas: "login cadastro";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 70vh;
        background-color: var(--white_gray);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.089);
        max-width: 1000px;
    }
    div.main{
        width: auto;
        align-self: stretch;
        justify-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    div#login{
        grid-area: login;
        background-color: var(--green);
        color: var(--white);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 20px;
    }
    div#login > h1{
        color: var(--white);
        margin-bottom: 20px;
    }

    div#cadastro{
        grid-area: cadastro;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--white);
    }
    div#cadastro > h1{
        margin-bottom: 20px;
        color: var(--green);
        font-size: 2.5em;
    }
    div.form{
        margin-bottom: 10px;
        display: flex;
        place-items: center;
        gap: 5px;
    }
    label{
        color: var(--gray);
    }
    .material-symbols-outlined {
        font-size: 30px;
    }
    button, input{
        border: none;
        height: 40px;
        width: 300px;
        padding: 10px;
        border-radius: 5px;
        background-color: var(--white_gray);
    }
    button{
        border: 1px solid var(--white);
    }
    ::-webkit-input-placeholder{
        color: var(--gray);
    }
    button, input[type=submit]{
        width: 335px;
        height: auto;
        background-color: var(--green);
        color: var(--white);
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
    }
    button:hover, input[type=submit]:hover{
        background-color: #4e9b8a;
        cursor: pointer;
        transition: 0.2s ease;
    }
}
@media screen and (max-width: 400px){
    /*Configurações do Main*/
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.8fr;
        grid-template-areas: "login" "cadastro";
    }
    div.main{
        width: auto;
        align-self: stretch;
        justify-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    div#login{
        padding: 10px 10px 20px 10px;
    }
    div#login > h1{
        margin-bottom: 10px;
        font-size: 1.5em;
    }
    div#cadastro > h1{
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    button, input{
        width: 230px;
    }
    button, input[type=submit]{
        font-size: 1em;
    }
    input[type=submit]{
        width: 265px;
    }
}
@media screen and (min-width: 400px) and (max-width: 768px){
    /*Configurações do Main*/
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.8fr;
        grid-template-areas: "login" "cadastro";
    }
    div.main{
        width: auto;
        align-self: stretch;
        justify-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    div#cadastro > h1{
        margin-bottom: 20px;
        color: var(--green);
        font-size: 2.5em;
    }
    .material-symbols-outlined {
        font-size: 30px;
    }
    button, input[type=submit]{
        width: 335px;
        font-size: 1.5em;
    }
}
